//! **************************************************************************
// Written by: Map P.20131013 on Sat Jan 09 17:48:00 2021
//! **************************************************************************

SCHEMATIC START;
COMP "SevenSegBus<0>" LOCATE = SITE "P70" LEVEL 1;
COMP "SevenSegBus<1>" LOCATE = SITE "P64" LEVEL 1;
COMP "SevenSegBus<2>" LOCATE = SITE "P98" LEVEL 1;
COMP "SevenSegBus<3>" LOCATE = SITE "P73" LEVEL 1;
COMP "SevenSegBus<4>" LOCATE = SITE "P72" LEVEL 1;
COMP "SevenSegBus<5>" LOCATE = SITE "P65" LEVEL 1;
COMP "SevenSegBus<6>" LOCATE = SITE "P62" LEVEL 1;
COMP "SevenSegBus<7>" LOCATE = SITE "P71" LEVEL 1;
COMP "start_button" LOCATE = SITE "P36" LEVEL 1;
PIN start_button_pin<0> = BEL "start_button" PINNAME PAD;
PIN "start_button_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "CLK" LOCATE = SITE "P40" LEVEL 1;
COMP "no_Deal_button" LOCATE = SITE "P35" LEVEL 1;
COMP "Deal_button" LOCATE = SITE "P33" LEVEL 1;
COMP "case_no<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "case_no<1>" LOCATE = SITE "P12" LEVEL 1;
COMP "case_no<2>" LOCATE = SITE "P5" LEVEL 1;
COMP "case_no<3>" LOCATE = SITE "P4" LEVEL 1;
COMP "SevenSegControl<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "SevenSegControl<1>" LOCATE = SITE "P49" LEVEL 1;
COMP "SevenSegControl<2>" LOCATE = SITE "P52" LEVEL 1;
COMP "SevenSegControl<3>" LOCATE = SITE "P56" LEVEL 1;
COMP "SevenSegControl<4>" LOCATE = SITE "P59" LEVEL 1;
COMP "SevenSegControl<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "SevenSegControl<6>" LOCATE = SITE "P60" LEVEL 1;
COMP "SevenSegControl<7>" LOCATE = SITE "P61" LEVEL 1;
COMP "button" LOCATE = SITE "P34" LEVEL 1;
SCHEMATIC END;

