NET "clk" LOC = "P40";

NET "case_no<3>" LOC = "P4";
NET "case_no<2>" LOC = "P5";
NET "case_no<1>" LOC = "P12";
NET "case_no<0>" LOC = "P15";
NET "button" LOC = "P34";
NET "no_deal_button" LOC = "P35";
NET "deal_button" LOC = "P33";
NET "start_button" LOC = "P36";

net "SevenSegControl[0]" loc = P50;
net "SevenSegControl[1]" loc = P49;
net "SevenSegControl[2]" loc = P52;
net "SevenSegControl[3]" loc = P56;
net "SevenSegControl[4]" loc = P59;
net "SevenSegControl[5]" loc = P57;
net "SevenSegControl[6]" loc = P60;
net "SevenSegControl[7]" loc = P61;

net "SevenSegBus[0]" loc = P70;
net "SevenSegBus[1]" loc = P64;
net "SevenSegBus[2]" loc = P98;
net "SevenSegBus[3]" loc = P73;
net "SevenSegBus[4]" loc = P72;
net "SevenSegBus[5]" loc = P65;
net "SevenSegBus[6]" loc = P62;
net "SevenSegBus[7]" loc = P71;

NET "start_button" CLOCK_DEDICATED_ROUTE = FALSE;
